<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :full_name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :unique_username %><br />
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Re-enter your password" %><br />
  <%= f.password_field :password_confirmation %>
</div>
