<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f  %>
  <div class="actions">
    <%= f.submit "Save Settings" %>
  </div>
<% end %>


<div>
  <%= gravatar_for @user %>
  <%= link_to "Change Profile Picture", "http://gravatar.com/emails",
  			   :target => "_blank" %>								  
</div>
